
.card {
    flex: 1;
    background-color: #eaf2e7;
    border-radius: .4rem;
    padding: 10px;
    line-height: 1.4em;
    margin-top: 2em;
    box-shadow: 0 1px 3px rgba(60, 100, 70, 0.07);
}

.p {
    font-size: .75em;
    color: #2e6b45; 
    text-transform: uppercase;
}

.number {
    font-size: 1.2em;
    font-weight: 500;
}

.subtitle {
    font-size: .69em;
    color: #2e6b45
}